@use 'src/assets/scss/vars'  as _vars;

.card-features {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  &__item {
    padding: .1em 0;
    text-align: center;
    border-radius: 20px;
    background-color: rgba($color: _vars.$black, $alpha: .05);
    transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 10px 10px 20px rgba($color: _vars.$black, $alpha: .04);
    }
    @media screen and (max-width: 768px) {
      padding: .5em 1.2em;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.features {
  &__title {
    font-size: .9em;
    text-transform: uppercase;
    color: rgba($color: _vars.$black, $alpha: .7);
    font-family: _vars.$font-body;
    font-weight: 500;
  }
  &__data {
    font-size: 1.5em;
    margin: .3em 0;
    font-family: _vars.$font-title;
    color: _vars.$secondary-color;
    text-transform: uppercase;
  }
}