@use 'src/assets/scss/vars'  as _vars;

.article-pokedex {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4em;
}

.pokemon {
  position: relative;
  display: grid;
  gap: 30px;
  &__name {
    background-color: _vars.$white;
    padding: .7em;
    text-align: center;
    border-radius: 10px;
    box-shadow: _vars.$shadown;
    text-transform: uppercase;
    font-family: _vars.$font-title;
    margin: 0;
    max-width: 100%;
    height: fit-content;
    @media screen and (max-width: 768px) {
      font-size: 1.5em;
      padding: .5em;
    }
  }
  &__image{
    width: 100%;
    object-fit: contain;
    transition: filter .5s ease-in-out, transform .7s ease-in-out;
    &:hover {
      filter: drop-shadow( _vars.$shadown );
      transform: translateY(-5px);
    }
    @media screen and (max-width: 768px) {
      margin-bottom: -10em;
    }
  }
  &--card{
    padding: 1.5em 3em;
    box-shadow: _vars.$shadown;
    background-color: _vars.$white;
    border-radius: 20px;
    display: grid;
    align-items: center;
    min-height: 450px;
    @media screen and (max-width: 768px) {
      padding: 3em 1em;
    }
  }
}