@use 'src/assets/scss/vars'  as _vars;

.features {
  &__title {
    font-size: .9em;
    text-transform: uppercase;
    color: rgba($color: _vars.$black, $alpha: .7);
    font-family: _vars.$font-body;
    font-weight: 500;
  }
  &__data {
    font-size: 1.5em;
    margin: .3em 0;
    font-family: _vars.$font-title;
    color: _vars.$secondary-color;
    text-transform: uppercase;
  }
}