<footer class="footer">
  <section class="footer__content">
    <h2 class="footer__title">OTHERS</h2>
    <ul class="others-pokemons">
      <li
        class="others-pokemons__item other-pokemon"
        *ngFor="let index of otherPokemons">
        <button
          title="Who is this Pokemon?"
          class="other-pokemon__button"
          (click)="showPokemon(index)">
          <picture>
            <img
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/{{
                index
              }}.svg"
              alt="Pokemon"
              loading="lazy"
              class="other-pokemon__image" />
          </picture>
        </button>
      </li>
    </ul>
  </section>
</footer>
